@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin no-font-smoothing {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

@mixin gradient-text {
  color: $color-gradient-fallback;
  background: $color-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
