@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin no-font-smoothing {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@mixin gradient-text {
  color: $color-gradient-fallback;
  background: $color-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin font-ci {
  font-weight: $font-weight-normal;
  font-family: $font-family-ci-fallback;

  // fonts-loaded body flag, triggered by JS (fontfaceobserver)
  .has-loaded-fonts-ci & {
    font-family: $font-family-ci;
  }
}

// iPhone X notch
@mixin notchfoo {
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
