---
layout: default
title: 21sieben
---

<div class="splash">
  <div class="splash__bg-gradient"></div>
  <div class="splash__logobox">
    <h1 class="logo">
      <span class="logo__21">21</span><span class="logo__sieben">sieben</span>
    </h1>
  </div>

  <div class="splash__claimbox">
    <h2 class="claim">
      <span class="claim__line claim__line--primary">
        <span class="claim__line-inner">
          <span class="claim__text">Urs Grupp</span>
          <span class="claim__avatar">
            <img src="https://randomuser.me/api/portraits/men/83.jpg" alt="Urs Grupp" />
          </span>
          <span class="claim__background"></span>
        </span>
      </span>
      <span class="claim__line">
        <span class="claim__line-inner">
          <span class="claim__text">Frontend engineer</span><span class="claim__dot">.</span>
          <span class="claim__background"></span>
        </span>
      </span>

      <span class="claim__line">
        <span class="claim__line-inner">
          <span class="claim__text">UX/UI architect</span><span class="claim__dot">.</span>
          <span class="claim__background"></span>
        </span>
      </span>
    </h2>
  </div>
</div>

<div class="l-main__sections">
  {% comment %} About section {% endcomment %}
  <section class="l-main__section l-main__section--about l-main__section--inverted l-main__section--scrollhint" data-section="About">
      <div class="l-main__section-content">
          <article class="c-about">
            <div class="l-container">
              <h3 class="c-about__title c-headline c-headline--alpha">About</h3>
              <div class="c-article c-article--lg">
                <p>Hi there, I'm <strong>Urs Grupp</strong>, an achieved web developer from Southern Germany.</p>
                <p>Working in web development for almost 10 years, I was able to build and develop important soft skills. In dozens of web projects, I have proven to be dependable, reliable and able to provide high quality results under pressure.</p>
                <p>Due to excellent communication skills and a high level of social competence, I was able to take up the position of Technical Director at Land in Sicht AG. There, I could gain experience in leadership and further development of employees, leading my team to great results by applying a cooperative management style. Acting as a link between the teams, I prove to be able to present complex technical facts in a simple way for non-technicians.</p>
              </div>
            </div>
          </article>
      </div>
  </section>

  {% comment %} Skills section {% endcomment %}
  <section class="l-main__section l-main__section--skills" data-section="Skills">
    <div class="l-main__section-content">
      <article class="c-skills">
        <div class="l-container">
          <h3 class="c-skills__title c-headline c-headline--alpha c-headline--gradient">Skills</h3>

          {% comment %} Loop through primary skills {% endcomment %}
          <div class="c-skills__primary">
            {% for skill in site.skills %}
              {% if skill.primary %}
                {% include skills/skill.html %}
              {% endif %}
            {% endfor %}
          </div>

          {% comment %} Loop through non-primary skills {% endcomment %}
          <div class="c-skills__secondary c-skills__masonry" data-masonry-grid>
            {% comment %} Masonry columns {% endcomment %}
            <div class="c-skills__masonry-col" data-masonry-col></div>
            <div class="c-skills__masonry-col" data-masonry-col></div>

            {% comment %} Masonry items {% endcomment %}
            {% for skill in site.skills %}
              {% unless skill.primary %}
                {% include skills/skill.html %}
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      </article>
    </div>
  </section>

  {% comment %} Contact section {% endcomment %}
  <section class="l-main__section l-main__section--contact l-main__section--inverted" data-section="Contact">
    <div class="l-main__section-content">
      <div class="l-container">
        Contact
      </div>
    </div>
  </section>
</div>
