---
layout: default
title: 21sieben – Urs Grupp, frontend web developer
splash: true
contactLinks:
  - title: Xing
    url: https://www.xing.com/profile/Urs_Grupp
    icon: xing
  - title: Codepen
    url: https://www.codepen.io/21sieben
    icon: codepen
  - title: Github
    url: https://github.com/ugrupp
    icon: github
  - title: E-Mail
    url: mailto:urs@21sieben.de
    icon: at

---

<header class="splash">
  <div class="splash__loader">
    loading &hellip;
  </div>
  <div class="splash__bg-gradient"></div>
  <div class="splash__logobox">
    <h1 class="logo">
      <span class="logo__21">21</span><span class="logo__sieben">sieben</span>
    </h1>
  </div>

  <div class="splash__claimbox">
    <h2 class="claim">
      <span class="claim__line claim__line--primary">
        <span class="claim__line-inner">
          <span class="claim__text">Urs Grupp</span>
          <span class="claim__avatar">
            <img src="/images/layout/ugrupp4_square.jpg" srcset="/images/layout/ugrupp4_square.jpg 1x, /images/layout/ugrupp4_square@2x.jpg 2x" alt="Urs Grupp" />
          </span>
          <span class="claim__background"></span>
        </span>
      </span>
      <span class="claim__line">
        <span class="claim__line-inner">
          <span class="claim__text">Frontend engineer</span><span class="claim__dot">.</span>
          <span class="claim__background"></span>
        </span>
      </span>

      <span class="claim__line">
        <span class="claim__line-inner">
          <span class="claim__text">UX/UI architect</span><span class="claim__dot">.</span>
          <span class="claim__background"></span>
        </span>
      </span>
    </h2>
  </div>
</header>

{% comment %} About section {% endcomment %}
<section class="l-main__section l-main__section--about l-main__section--inverted l-main__section--scrollhint" id="profile">
  <a href="#profile" class="l-main__section-edge l-main__section-edge--scrollhint">▼ About</a>
  <div class="l-main__section-content">
    <div class="c-about">
      <div class="l-container">
        <h3 class="c-about__title c-headline c-headline--alpha">Profile</h3>
        <div class="c-about__cols">
          <div class="c-article c-article--lg" data-reveal>
            {% capture about %}{% include about.md %}{% endcapture %}
            {{ about | markdownify }}
          </div>

          <div class="c-about__portrait-wrapper">
            <img class="c-about__portrait" src="/images/layout/ugrupp2_303.jpg" srcset="/images/layout/ugrupp2_303.jpg 303w, /images/layout/ugrupp2_455.jpg 455w, /images/layout/ugrupp2_606.jpg 606w" alt="Urs Grupp" data-reveal />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} Skills section {% endcomment %}
<section class="l-main__section l-main__section--skills" id="skills">
  <a href="#skills" class="l-main__section-edge"></a>
  <div class="l-main__section-content">
    <div class="c-skills">
      <div class="l-container">
        <h3 class="c-skills__title c-headline c-headline--alpha c-headline--gradient">Skills</h3>

        {% comment %} Loop through primary skills {% endcomment %}
        <div class="c-skills__primary">
          {% for skill in site.skills %}
            {% if skill.primary %}
              {% include skills/skill.html %}
            {% endif %}
          {% endfor %}
        </div>

        {% comment %} Loop through non-primary skills {% endcomment %}
        <div class="c-skills__secondary c-skills__masonry" data-masonry-grid>
          {% comment %} Masonry columns {% endcomment %}
          <div class="c-skills__masonry-col" data-masonry-col></div>
          <div class="c-skills__masonry-col" data-masonry-col></div>

          {% comment %} Masonry items {% endcomment %}
          {% for skill in site.skills %}
            {% unless skill.primary %}
              {% include skills/skill.html %}
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} Contact section {% endcomment %}
<section class="l-main__section l-main__section--hire l-main__section--inverted" id="contact">
  <a href="#contact" class="l-main__section-edge"></a>
  <div class="l-main__section-content">
    <div class="c-hire">
      <div class="l-container">
        <h3 class="c-hire__title c-headline c-headline--alpha">Get in touch</h3>
        <div class="c-hire__cols">
          <div class="c-hire__content">
            <div class="c-article c-article--lg" data-reveal>
              {% capture contact %}{% include contact.md %}{% endcapture %}
              {{ contact | markdownify }}
            </div>

            <div class="c-hire__cta" data-reveal>
              <a href="mailto:urs@21sieben.de" class="c-cta">urs@<span class="c-21sieben-inline">21sieben</span>.de</a>
            </div>
          </div>

          <aside class="c-hire__links" data-reveal>
            <ul class="c-hire__links-list">
              {% for contactLink in page.contactLinks %}
                <li class="c-hire__link-item">
                  <a class="c-hire__link" href="{{ contactLink.url }}">
                    <div class="c-hire__link-icon">
                      <svg class="o-icon o-icon--fitparent"><use xlink:href="/images/svg/sprite.svg#{{ contactLink.icon }}"></use></svg>
                    </div>
                    <span class="c-hire__link-text">{{ contactLink.title }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
