<div
  class="c-skill {% if skill.data.primary %}c-skill--primary{% else %}c-skill--secondary{% endif %}{% if skill.data.icon %} c-skill--icon{% endif %}"
  {% unless skill.data.primary %}data-masonry-item{% endunless %}
  data-reveal
>
  {% comment %} Title {% endcomment %}
  <h4 class="c-skill__headline c-headline c-headline--beta">{{ skill.data.title }}</h4>

  {% comment %} Content {% endcomment %}
  {% if skill.templateContent %}
    <div class="c-skill__content c-article">{{ skill.templateContent }}</div>
  {% endif %}

  {% comment %} Tags {% endcomment %}
  {% if skill.data.skillTags.size > 0 %}
    <div class="c-skill__tags">
      <ul class="c-skill__tags-list">
        {% for tag in skill.data.skillTags %}
          <li class="c-skill__tag">{{ tag }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% comment %} Watermark icon {% endcomment %}
  {% if skill.data.icon %}
    <div class="c-skill__icon">
      <svg class="o-icon o-icon--fitparent"><use xlink:href="/images/svg/sprite.svg#{{ skill.data.icon }}"></use></svg>
    </div>
  {% endif %}
</div>
