.c-article {
  a {
    color: $color-text-inverted;
    position: relative;
    transition: all $transition-time-default;
    border-radius: .001em;

    &:hover {
      background: rgba(0, 0, 0, .1);
      box-shadow: 0 0 0 .2em rgba(0, 0, 0, .1);
      color: $color-text;
    }
  }

  ul {
    list-style: disc outside;
    padding-left: 1em;
  }

  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: $font-weight-black;
  }

  del {
    text-decoration: line-through;
  }

  u {
    text-decoration: underline;
  }

  h2,
  h3 {
    font-weight: $font-weight-bold;
  }

  h2 {
    @extend .c-headline--gamma;
  }

  // spacing for everyone! (but a few exceptions)
  * + *:not(li):not(br) {
    margin-top: 1em;
  }

  .c-21sieben-inline {
    @extend .c-21sieben-inline;
  }

}

p,
ul,
ol,
h3 {
  .c-article & {
    @include typi("article");
  }

  .c-article--lg & {
    @include typi("article--lg");
  }

  .c-article--sm & {
    @include typi("article--sm");
  }
}
