.o-icon {
  fill: currentColor;
  height: 1em;
  width: 1em;
  overflow: hidden;
  vertical-align: -.15em; // magic number? keep an eye on this
}

.o-icon--fitparent {
  height: 100%;
  width: 100%;
}
