.l-main__section {
  background-color: $color-section-bg;
  color: $color-white;
  @include font-smoothing;

  padding: 1em 0 8em;
  position: relative;

  @include mappy-bp(xs) {
    padding: 1em 0 9em;
  }

  @include mappy-bp(sm) {
    padding: 1em 0 11em;
  }

  @include mappy-bp(xl) {
    padding: 3em 0 12em;
  }
}

// skewed edge
.l-main__section-edge {
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .3);
  @include font-smoothing();
  font-weight: $font-weight-black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;

  background-color: $color-section-bg;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: index($z-index, section-edge);;
  transition: all .4s;
  visibility: hidden;
  transform: translateY(100%);

  // skew the layer using clip mask (screw IE)
  clip-path: polygon(0 0, 100% 40%, 100% 101%, 0% 101%);
  height: 4em;

  @include mappy-bp(xs) {
    clip-path: polygon(0 0, 100% 60%, 100% 101%, 0% 101%);
    height: 5em;
  }

  @include mappy-bp(xl) {
    clip-path: polygon(0 0, 100% 80%, 100% 101%, 0% 101%);
    height: 6em;
  }

  // show edge if animation has finished or user has scrolled
  .is-splash-finished &,
  .has-scrolled & {
    visibility: visible;
    transform: none;
  }
}

.l-main__section-edge--scrollhint {
  // body class 'has-scrolled' hides the hint
  .has-scrolled & {
    color: transparent;
  }
}

.l-main__section--inverted {
  background-image: $color-gradient;
  color: $color-white;
  @include font-smoothing;

  .l-main__section-edge {
    background-image: $color-gradient;
  }
}


.l-main__section-content {
  position: relative;
  z-index: index($z-index, section);;
}
