.l-main__section {
  background-color: $color-gray-3;
  color: $color-white;
  @include font-smoothing;

  padding: 0 0 8em;
  position: relative;

  @include mappy-bp(xs) {
    padding: 0 0 9em;
  }

  @include mappy-bp(sm) {
    padding: 0 0 11em;
  }

  @include mappy-bp(xl) {
    padding: 4em 0 12em;
  }

  &::before {
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .3);
    font-weight: $font-weight-black;
    @include font-smoothing();
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1em;

    content: "";
    background-color: $color-gray-3;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    transition: all .4s;
    visibility: hidden;
    transform: translateY(100%);

    // skew the layer using clip mask (screw IE)
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
    height: 4em;

    @include mappy-bp(xs) {
      clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
      height: 5em;
    }

    @include mappy-bp(xl) {
      clip-path: polygon(0 0, 100% 80%, 100% 100%, 0% 100%);
      height: 6em;
    }
  }

  // show skewed section if animation has finished or user has scrolled
  .is-splash-finished &::before,
  .has-scrolled &::before {
    visibility: visible;
    transform: none;
  }
}

.l-main__section--scrollhint {
  &::before {
    content: "▼ " attr(data-section);
  }

  // body class 'has-scrolled' hides the hint
  .has-scrolled &::before {
    color: transparent;
  }
}

.l-main__section--inverted {
  background-image: $color-gradient;
  color: $color-white;
  @include font-smoothing;

  &::before {
    background-image: $color-gradient;
  }
}


.l-main__section-content {
  position: relative;
  z-index: 10;
}
