$skills-main-spacing: 2em;
$skills-main-spacing-md: 3em;

.c-skills__primary {
  margin-top: 1em;
}

.c-skills__primary + .c-skills__secondary {
  margin-top: $skills-main-spacing;

  @include mappy-bp(md) {
    margin-top: $skills-main-spacing-md;
  }
}

// Skills masonry
.c-skills__masonry {
  display: grid;
  grid-gap: $skills-main-spacing;

  @include mappy-bp(md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: $skills-main-spacing-md;
  }
}

.c-skills__masonry-col {
  & + & {
    margin-top: 3em;

    @supports (display: grid) {
      margin-top: 0;
    }
  }

  > * + * {
    margin-top: $skills-main-spacing;

    @include mappy-bp(md) {
      margin-top: $skills-main-spacing-md;
    }
  }
}


// Single skill
$skill-icon-size-md: 18em;

.c-skill {
  @include font-smoothing();
  position: relative; // for watermark and to prevent overlapping shadow


  // Shadow
  &::after {
    content: "";
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: $gradientFallback;
    background: $gradient;
    filter: blur(5rem);
    border-radius: 30%;
    opacity: .3;
  }
}

.c-skill--primary {
  & + & {
    margin-top: $skills-main-spacing;

    @include mappy-bp(md) {
      margin-top: $skills-main-spacing-md;
    }
  }
}

.c-skill--secondary {
  // top border
  &::before {
    content: "";
    height: 1em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20; // > content & shadow
    background: $gradientFallback;
    background: $gradient;

    border-radius: .5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @include mappy-bp(sm) {
      height: 1.5em;
    }
  }

  // span top border gradient and shadow across two columns
  .c-skills__masonry-col &::before,
  .c-skills__masonry-col &::after {
    @include mappy-bp(md) {
      background-size: calc(200% + #{$skills-main-spacing-md});
    }
  }

  .c-skills__masonry-col:last-of-type &::before,
  .c-skills__masonry-col:last-of-type &::after {
    @include mappy-bp(md) {
      background-position: right;
    }
  }
}

.c-skill__inner {
  position: relative;
  z-index: 10; // > shadow
  width: 100%;

  background: $color-white;
  color: $color-text;
  // box-shadow: 0 2em 4em .5em rgba($color-gradient-fallback, .1);
  padding: 1.5em;
  border-radius: .5em;

  @include mappy-bp(xs) {
    padding: 2em;
  }

  @include mappy-bp(sm) {
    padding: 3em;
  }

  .c-skill--primary & {
    background: $gradientFallback;
    background: $gradient;
    color: $color-white;
  }

  .c-skill--secondary & {
    padding-top: 2.5em;

    @include mappy-bp(xs) {
      padding-top: 3em;
    }

    @include mappy-bp(sm) {
      padding-top: 4em;
    }
  }

  .c-skill--icon & {
    @include mappy-bp(md) {
      padding-right: $skill-icon-size-md + 2em;
    }
  }
}

// Text/content
.c-skill__content {
  margin-top: 1em;
}

// Tags
.c-skill__tags {
  margin-top: 1.5em;
}

.c-skill__tags-list {
  display: flex;
  flex-wrap: wrap;
  margin: -.2em;
}

.c-skill__tag {
  margin: .2em;
  padding: .2em .5em;
  border-radius: .25em;
  @include typi('article');

  .c-skill--primary & {
    background: rgba(255, 255, 255, .15);
  }

  .c-skill--secondary & {
    background: rgba(0, 0, 0, .1);
    color: $color-text;
    @include font-smoothing;
  }
}

// Watermark icon. Hidden on mobile
.c-skill__icon {
  display: none;

  @include mappy-bp(md) {
    display: block;
  }

  color: rgba(255, 255, 255, .15);
  height: $skill-icon-size-md;
  width: $skill-icon-size-md;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20; // > shadow & content
}
