$claim-font-weight: $font-weight-black;
$linePadVertical: .15em;
$linePadHorizontal: .25em;

$gradientFallback: $color-gradient-fallback;
$gradient: $color-gradient;

$bgColorPrimary: $color-section-bg-dark;

// Layout
.splash {
  position: relative;
  background-color: $bgColorPrimary;
  height: 100vh;
  min-height: 20em;
  overflow: hidden;
  line-height: 1;

  @include mappy-bp(xs) {
    min-height: 26em;
  }

  @include mappy-bp(sm) {
    min-height: 35em;
  }

  @include mappy-bp(md) {
    min-height: 37em;
  }

  @include mappy-bp(xl) {
    min-height: 42em;
  }
}

.splash__loader {
  // don't use actual font here since this is probably only shown when fonts aren't loaded yet.
  font-family: $font-family-base-fallback;
  position: absolute;
  left: 1em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .25);
  font-weight: $font-weight-bold;
  @include font-smoothing;
  transition: opacity $transition-time-default;

  .splash--triggered & {
    opacity: 0;
  }
}

.splash__bg-gradient {
  background-image: $gradient;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  // hide initially
  opacity: 0;
}

.splash__logobox,
.splash__claimbox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

// Logo styles
.logo {
  @include font-ci;
  font-size: 14vw;
  @include font-smoothing;

  // hide initially
  visibility: hidden;

  @media (min-width: 55em) {
    font-size: 12vw;
  }
}

.logo--triggered {
  visibility: visible;
}

.logo__21 {
  color: white;
}

.logo__sieben {
  color: rgba(0,0,0,.5);
}

// Claim styles
.claim {
  @include typi('splash');

  font-weight: $claim-font-weight;
  color: white;
  @include font-smoothing;

  // hide initially
  visibility: hidden;
}

.claim--triggered {
  visibility: visible;
}

.claim__line {
  display: block;
}

.claim__line--primary {
  margin-bottom: .25em;
}

.claim__line-inner {
  display: inline-block;
  position: relative;
}

.claim__text {
  display: inline-block;
  padding: $linePadVertical $linePadHorizontal;
  position: relative;
  z-index: 10;
}

.claim__letter {
  display: inline-block;
  transform-origin: top left;

  .claim__line--primary & {
    font-size: 1.7em;

    @include mappy-bp(sm) {
      font-size: 2em;
    }
  }
}

.claim__dot {
  display: inline-block;
  margin-left: -$linePadHorizontal / 2;
  position: relative;
  z-index: 10;
  @include gradient-text;
}

.claim__background {
  transform-origin: top left;
  position: absolute;
  background: $gradientFallback;
  background: $gradient;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.claim__avatar {
  position: absolute;
  left: 100%;
  top: 0;
  display: block;

  img {
    width: 2em;
    height: auto;;
    display: block;
    border-radius: 50%;
  }
}
