// Headlines
.c-headline {
  font-weight: $font-weight-bold;
  word-wrap: break-word;
  display: block;
  hyphens: auto;
}

.c-headline--alpha {
  @include typi('headline--alpha');
}

.c-headline--beta {
  @include typi('headline--beta');
}

.c-headline--gamma {
  @include typi('headline--gamma');
}

.c-headline--gradient {
  @include gradient-text;
}

.c-headline--inverted {
  color: $color-gradient-fallback;
}


// Inline logo
.c-21sieben-inline {
  @include font-ci;
}
