// Font Weights
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font Families
$font-family-base-fallback: 'Arial', sans-serif;
$font-family-base: 'Lato', sans-serif;
$font-family-ci-fallback: 'Impact', 'Arial Black', sans-serif;
$font-family-ci: 'Alfa Slab One', sans-serif;

// Tell Typi to use mappy-breakpoints
$typi-breakpoint: mappy-bp;

// Font Sizing
$typi: (
  // Base for <html>, will be inherited
  base: (
    null: (16px, 1.2)
  ),

  article: (
    null: (16px, 1.5),
    xs: (18px),
    sm: (21px)
  ),

  article--sm: (
    null: (16px, 1.5),
    sm: (18px),
  ),

  article--lg: (
    null: (16px, 1.5),
    xs: (18px),
    sm: (21px),
    xl: (24px)
  ),

  headline--alpha: (
    null: (50px, 1.2),
    sm: (100px),
    xl: (120px)
  ),

  headline--beta: (
    null: (24px, 1.2),
    sm: (36px)
  ),

  headline--gamma: (
    null: (18px, 1.2),
    sm: (24px)
  ),

  // Half of headline-alpha
  splash: (
    null: (25px, 1),
    xs: (35px),
    sm: (50px),
    md: (60px),
    xl: (65px)
  ),
);
