.c-article {
  a {
    color: $color-text-inverted;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 3px;
      background: $color-gradient;
      transition: all $transition-time-default;
      transform: scaleY(0);
      transform-origin: bottom;
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }

  ul {
    list-style: square outside;
    padding-left: 1em;
  }

  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: $font-weight-black;
  }

  del {
    text-decoration: line-through;
  }

  u {
    text-decoration: underline;
  }

  h2,
  h3 {
    font-weight: $font-weight-bold;
  }

  // spacing for everyone! (but a few exceptions)
  * + *:not(li):not(br) {
    margin-top: 1em;
  }

  .c-21sieben-inline {
    @extend .c-21sieben-inline;
  }

}

p,
ul,
ol,
h3 {
  .c-article & {
    @include typi("article");
  }

  .c-article--lg & {
    @include typi("article--lg");
  }

  .c-article--sm & {
    @include typi("article--sm");
  }
}
