// sets base font-sizing on html element
@include typi-init;

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $color-white;
  background-color: $color-section-bg-dark;

  // fallback font for initial render to avoid FOIT
  font-family: $font-family-base-fallback;

  // fonts-loaded flag, triggered by JS (fontfaceobserver)
  &.has-loaded-fonts-body {
    font-family: $font-family-base;
  }
}

::selection {
  background: $color-darkblue;
  color: $color-white;
}
